@charset "UTF-8";
/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1440px) {
  :root {
    --sqr: 85px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 65px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  HOME  */
/* ================================================================== */
#home-slider .slide {
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#home-slider .owl-nav {
  position: absolute;
  top: 50%;
  width: calc(100vw - 2%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 7.5rem;
  margin-left: 0.5%;
}
#home-slider .owl-nav span {
  text-shadow: 2px 2px 0px #000;
}

#thirds {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#thirds .third {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: calc( 100vw / 3 );
  height: calc( 100vw / 3 );
  flex-grow: 1;
  position: relative;
}
@media (max-width: 1024px) {
  #thirds .third {
    width: calc( 100vw / 2 );
    height: calc( 100vw / 2 );
  }
}
@media (max-width: 768px) {
  #thirds .third {
    width: calc( 100vw / 1 );
    height: calc( 100vw / 1.5 );
  }
}
#thirds .third img {
  margin-left: -12.5%;
  width: 85%;
}
@media (max-width: 768px) {
  #thirds .third img {
    width: 70% !important;
    margin-top: 0 !important;
    margin-left: 0;
  }
}
#thirds .third .title {
  position: absolute;
  top: 0;
  margin-left: 55.5%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 15px;
  justify-content: center;
}
#thirds .third .title h4 {
  color: white;
  text-align: left;
}

#video {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: stretch;
}
@media (max-width: 1024px) {
  #video {
    flex-flow: column-reverse;
  }
}
#video video {
  width: 60%;
}
@media (max-width: 1024px) {
  #video video {
    width: 100%;
  }
}
#video .content {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}
@media (max-width: 1024px) {
  #video .content {
    flex-flow: row;
  }
}
@media (max-width: 480px) {
  #video .content {
    flex-flow: column;
  }
}
#video .content h2 {
  font-family: "Montserrat";
  text-align: left;
  text-transform: uppercase;
}
#video .content .up {
  height: 50%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
}
#video .content .up h2 {
  color: #7f9f48;
}
#video .content .up h2 big {
  font-family: "Montserrat-Bold";
}
@media (max-width: 1024px) {
  #video .content .up {
    height: auto;
    width: 50%;
    justify-content: center;
    align-items: flex-end;
    padding: 35px;
    padding-right: 10px;
  }
}
@media (max-width: 480px) {
  #video .content .up {
    width: 100%;
    padding: 35px;
    align-items: center;
  }
}
#video .content .down {
  background-color: #f1de80;
  height: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}
#video .content .down h2 {
  color: #6ea485;
}
@media (max-width: 1024px) {
  #video .content .down {
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: self-start;
    padding-left: 7px;
  }
}
@media (max-width: 480px) {
  #video .content .down {
    width: 100%;
    padding: 35px;
    align-items: center;
  }
}

#productos .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #6ea485;
  position: relative;
}
#productos .title .behind h1 {
  opacity: 0.15;
  font-size: 7rem;
  letter-spacing: 3px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 900px) {
  #productos .title .behind h1 {
    font-size: 5.8rem;
  }
}
@media (max-width: 768px) {
  #productos .title .behind h1 {
    font-size: 4rem;
  }
}
@media (max-width: 680px) {
  #productos .title .behind h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  #productos .title .behind h1 {
    font-size: 2.35rem;
  }
}
#productos .title .behind img {
  opacity: 1;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 680px) {
  #productos .title .behind img {
    display: none;
  }
}
#productos .title .front {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#productos .title h1 {
  padding: 35px;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 620px) {
  #productos .title h1 {
    font-size: 3rem;
  }
}
#productos #productos-halfs {
  display: flex;
  justify-content: center;
  align-items: center;
}
#productos #productos-halfs .producto-slider {
  width: calc( 100vw / 2);
  padding: 50px;
  position: relative;
}
@media (max-width: 786px) {
  #productos #productos-halfs .producto-slider {
    padding: 25px;
  }
}
#productos #productos-halfs .producto-slider .next {
  position: absolute;
  top: calc( 50% - 37px );
  right: 0;
  right: 43px;
  z-index: 2;
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #d38795;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
#productos #productos-halfs .producto-slider .next i {
  color: white;
}
#productos #productos-halfs .producto-slider .next:hover {
  background-color: #6ea485;
}
@media (max-width: 680px) {
  #productos #productos-halfs .producto-slider .next {
    padding: 10px 15px;
  }
}
#productos #productos-halfs .producto-slider .prev {
  position: absolute;
  top: calc( 50% - 34px );
  left: 43px;
  z-index: 2;
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #d38795;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
#productos #productos-halfs .producto-slider .prev i {
  color: white;
}
#productos #productos-halfs .producto-slider .prev:hover {
  background-color: #6ea485;
}
@media (max-width: 680px) {
  #productos #productos-halfs .producto-slider .prev {
    padding: 10px 15px;
  }
}
#productos #productos-halfs .producto-slider .producto-nav {
  position: absolute;
  top: calc( 50% - 42px );
  z-index: 3;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
#productos #productos-halfs .producto-slider .producto-nav a {
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #d38795;
}
#productos #productos-halfs .producto-slider .producto-nav a i {
  color: white;
}
#productos #productos-halfs .producto-slider .slide {
  padding: 45px 25px;
  background-color: #e9f1ed;
  border-radius: 10px;
  text-align: center;
}
#productos #productos-halfs .producto-slider .slide img {
  max-width: 100%;
  max-width: 545px;
  width: 60%;
  padding: 10px;
  margin: 0 auto;
}
#productos #productos-halfs .producto-slider .slide .subtitle {
  margin-top: 15px;
}
#productos #productos-halfs .producto-slider .slide .subtitle h3 {
  color: #6ea485;
}
#productos #productos-halfs .squares {
  text-align: center;
  margin-bottom: 45px;
}
#productos #productos-halfs .squares span {
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  margin: 0.5%;
  background-color: #e9f1ed;
  opacity: 1;
}
#productos #productos-halfs .squares span img {
  height: 230px;
}
@media (max-width: 1280px) {
  #productos #productos-halfs .squares span img {
    height: 185px;
  }
}
@media (max-width: 768px) {
  #productos #productos-halfs .squares span img {
    height: 275px;
    height: auto;
  }
}
#productos #productos-halfs .squares span .subtitle {
  text-align: center;
  margin-top: 15px;
}
#productos #productos-halfs .squares span .subtitle h4 {
  color: #6ea485;
}
@media (max-width: 768px) {
  #productos #productos-halfs .squares span {
    width: 48%;
    display: flex;
    flex-flow: column;
  }
}
@media (max-width: 1024px) {
  #productos #productos-halfs {
    flex-flow: column;
  }
  #productos #productos-halfs .producto-slider {
    width: 100%;
  }
  #productos #productos-halfs .squares {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
}

#buy {
  background-color: #e2ede7;
  padding: 25px;
  display: flex;
  flex-flow: column;
  min-height: 46vh;
  justify-content: space-around;
}
#buy .title {
  text-align: center;
}
#buy .title h1 {
  display: inline-block;
  color: #7f9f48;
  text-transform: uppercase;
  margin-left: 15px;
  margin-bottom: 25px;
  border-bottom: 5px solid #e5a927;
}
@media (max-width: 620px) {
  #buy .title h1 {
    font-size: 3rem;
  }
}
#buy .prev-nav, #buy .next-nav {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 9%;
}
#buy .prev-nav a, #buy .next-nav a {
  color: #7f9f48;
}
@media (max-width: 480px) {
  #buy .prev-nav, #buy .next-nav {
    width: 7.5%;
  }
}
#buy .buy-slider {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}
#buy .buy-slider .slide {
  padding: 25px;
}
#buy .buy-slider .slide img {
  width: 80%;
  margin: 0 auto;
}

#people {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#people .part {
  background-size: cover;
  background-position: center;
  width: calc( 100vw / 3 );
  height: calc( 100vw / 3 + 150px );
  flex-grow: 1;
}
#people .text {
  background-color: #e5a927;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  height: 250px !important;
  justify-content: center;
  align-items: flex-end;
  color: white;
  text-transform: uppercase;
  position: relative;
}
#people .text:before {
  content: "";
  width: 80px;
  background: #e5a927;
  height: 100%;
  right: -80px;
  position: absolute;
  opacity: 0.75;
}
@media (max-width: 1024px) {
  #people .text:before {
    width: 0;
    content: "";
  }
}
#people .text h1, #people .text h2 {
  position: relative;
  margin: 0;
  font-family: "Montserrat-Light";
}
#people .text h1:before, #people .text h2:before {
  content: "Con más Stevia";
  font-family: "Montserrat-Bold";
  position: absolute;
  top: 100%;
  color: #6ea485;
  text-align: right;
  width: 100%;
}
@media (max-width: 1024px) {
  #people .text {
    width: 100% !important;
    height: 100px !important;
  }
}

#recetas .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #7f9f48;
  position: relative;
}
#recetas .title .behind h1 {
  opacity: 0.15;
  font-size: 7rem;
  letter-spacing: 3px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 768px) {
  #recetas .title .behind h1 {
    font-size: 4rem;
  }
}
@media (max-width: 680px) {
  #recetas .title .behind h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  #recetas .title .behind h1 {
    font-size: 2.35rem;
  }
}
#recetas .title .behind img {
  opacity: 1;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 680px) {
  #recetas .title .behind img {
    display: none;
  }
}
#recetas .title .front {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#recetas .title h1 {
  padding: 35px;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 620px) {
  #recetas .title h1 {
    font-size: 3rem;
  }
}
#recetas #recepies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
#recetas #recepies .recipe {
  width: calc( 100vw / 4 - 75px);
  margin: 5px;
  text-align: center;
}
#recetas #recepies .recipe img {
  max-width: none !important;
}
#recetas #recepies .recipe span {
  display: block;
  margin-top: 10px;
}
#recetas #recepies .recipe h4 {
  margin: 10px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #6ea485;
}
#recetas #recepies .recipe h4:hover {
  color: #d38795;
}
#recetas #recepies .recipe p {
  text-align: justify;
  font-size: 15px;
  color: #929292;
}
@media (max-width: 1280px) {
  #recetas #recepies .recipe {
    width: calc( 100vw / 3 - 75px);
  }
}
@media (max-width: 950px) {
  #recetas #recepies .recipe {
    width: calc( 100vw / 2 - 75px);
  }
}
@media (max-width: 680px) {
  #recetas #recepies .recipe {
    width: 80%;
    margin: 25px auto;
    text-align: center;
  }
}

iframe {
  width: 100%;
}

#galery .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #e5a927;
  position: relative;
}
#galery .title .behind h1 {
  opacity: 0.15;
  font-size: 7rem;
  letter-spacing: 3px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 768px) {
  #galery .title .behind h1 {
    font-size: 4rem;
  }
}
@media (max-width: 680px) {
  #galery .title .behind h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  #galery .title .behind h1 {
    font-size: 2.35rem;
  }
}
#galery .title .behind img {
  opacity: 1;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 680px) {
  #galery .title .behind img {
    display: none;
  }
}
#galery .title .front {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#galery .title h1 {
  padding: 35px;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 620px) {
  #galery .title h1 {
    font-size: 3rem;
  }
}
#galery #blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
#galery #blocks .block {
  width: calc( 100vw / 4 - 75px);
  margin: 15px;
  margin-bottom: 25px;
}
@media (max-width: 1280px) {
  #galery #blocks .block {
    width: calc( 100vw / 3 - 75px);
  }
}
@media (max-width: 950px) {
  #galery #blocks .block {
    width: calc( 100vw / 2 - 75px);
  }
}
@media (max-width: 680px) {
  #galery #blocks .block {
    width: 95%;
    margin: 25px auto;
    text-align: center;
  }
}
#galery #blocks .block div {
  text-align: center;
}

#modalCompras {
  background-color: white;
  color: black;
}
#modalCompras .content {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
  margin-bottom: 15px;
}
@media (max-width: 680px) {
  #modalCompras .content {
    flex-flow: column;
  }
  #modalCompras .content .description, #modalCompras .content .image {
    width: 100%;
  }
}
#modalCompras .image {
  flex: 1;
  width: 50%;
}
#modalCompras .description {
  flex: 1;
  width: 50%;
  text-align: left;
}
#modalCompras .description ul {
  margin-bottom: 20px;
}
#modalCompras .description .title {
  text-align: left;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.15;
}
#modalCompras .description .price {
  margin-top: 15px;
  font-size: 1.4rem;
  display: block;
  font-family: "Montserrat-Bold" !important;
}
#modalCompras .description .buy-it {
  background-color: #FFD814;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  border-color: #D5D9D9;
  border-style: solid;
  padding: 4px 10px 6px 11px;
  color: black;
}

/*# sourceMappingURL=home.css.map */
