/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1440px) {
  :root {
    --sqr: 85px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 65px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  Global tags  */
/* ================================================================== */
html, body {
  font-size: 14px;
  font-display: swap;
}
@media (max-width: 1600px) {
  html, body {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  html, body {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  html, body {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  html, body {
    font-size: 12px;
  }
}

body {
  background-color: #fff;
  font-family: "Montserrat";
  font-weight: 400;
  font-display: swap;
  width: 100vw;
}
body *:not(.fab .fas .icon) {
  font-family: "Montserrat";
  font-display: swap;
}
body img {
  max-width: 100%;
}

.fa, .fas {
  font-family: "Font Awesome 5 Free" !important;
  font-display: swap !important;
}

.fab {
  font-family: "Font Awesome 5 Brands" !important;
  font-display: swap !important;
}

.icon {
  font-family: "Icons" !important;
  font-display: swap !important;
}

header .nextevia {
  background-color: black;
  padding: 5px var(--sqr);
  text-align: right;
}
header .nextevia .logo {
  padding: 5px;
  height: 22.5px;
}
header .natural {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px var(--sqr);
  justify-content: space-between;
}
header .natural .logo {
  width: 85%;
}
header .natural a {
  text-decoration: none;
  color: #7f9f48;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
header .natural a i {
  margin: 5px 5px;
}
header .natural a:hover {
  color: #6ea485;
}

.sidebar a {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
}

.menu {
  background-color: #6ea485;
  text-align: center;
  padding: 10px;
}
.menu ul.desktop {
  text-align: center;
  padding: 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 25px 0;
}
@media (max-width: 1024px) {
  .menu ul.desktop {
    display: none;
  }
}
.menu ul.desktop li {
  display: inline-block;
  padding: 10px 5px;
}
.menu ul.desktop li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 10px 15px;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.menu ul.desktop li a:hover {
  color: #f1de80;
}
.menu ul.desktop li a.amazon img {
  vertical-align: middle;
  height: 65px;
}
@media (max-width: 1440px) {
  .menu ul.desktop li a.amazon img {
    height: 60px;
  }
}
@media (max-width: 1280px) {
  .menu ul.desktop li a.amazon img {
    height: 55px;
  }
}
@media (max-width: 1150px) {
  .menu ul.desktop li a.amazon img {
    height: 50px;
  }
}
@media (max-width: 1050px) {
  .menu ul.desktop li a.amazon img {
    height: 44px;
  }
}
@media (max-width: 1440px) {
  .menu ul.desktop li a {
    font-size: 14px;
    padding: 10px;
  }
}
@media (max-width: 1280px) {
  .menu ul.desktop li a {
    font-size: 13.5px;
    padding: 10px;
  }
}
@media (max-width: 1150px) {
  .menu ul.desktop li a {
    font-size: 13px;
    padding: 10px 7.5px;
  }
}
@media (max-width: 1280px) {
  .menu ul.desktop li {
    padding: 10px 0;
  }
}
.menu ul.desktop ul.second {
  background: #6ea485;
  position: absolute;
  z-index: 9999;
  width: 100%;
  padding: 0;
  border-radius: 0px;
  border: 3px solid white;
  border-top: none;
  top: -70%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.menu ul.desktop ul.second li {
  display: block;
  color: white;
}
.menu ul.desktop ul.second li a:hover {
  color: #e5a927;
}
.menu ul.desktop .trigger {
  position: relative;
}
.menu ul.desktop .trigger:hover ul {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  top: 100%;
  opacity: 1;
  z-index: 999;
}
.menu ul.mobile {
  list-style: none;
  text-align: right;
  display: none;
}
@media (max-width: 1024px) {
  .menu ul.mobile {
    display: block;
  }
}
.menu ul.mobile a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.menu ul.mobile a:hover {
  color: #f1de80;
}

section.banner {
  display: none;
  background-color: #e5a927;
  color: white;
  padding: 35px;
  text-align: center;
}
section.banner h1 {
  cursor: pointer;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  section.banner h1 {
    font-size: 3.1rem;
  }
}
section.banner ul {
  list-style: none;
  padding: 0;
}
section.banner ul li {
  border-bottom: 2px solid white;
  padding: 15px 25px;
}
section.banner ul li a {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
section.banner ul li a:hover {
  color: #6ea485;
}
@media (max-width: 1024px) {
  section.banner {
    display: block;
  }
}

.button {
  padding: 15px 30px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #6ea485;
  color: white;
  text-transform: uppercase;
  margin: 5px 0px;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 1px 1px 3px -1px #000;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.button:hover {
  background-color: #d38795;
  color: white;
}
.button.cancan {
  background-color: #6ea485;
}
.button.cancan:hover {
  background-color: #fff;
  color: black;
}

footer .natural {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px var(--sqr);
  justify-content: space-between;
  background-color: #6ea485;
}
@media (max-width: 768px) {
  footer .natural {
    flex-flow: column;
  }
  footer .natural .logo {
    margin: 25px;
  }
}
footer .natural .logo {
  width: 85%;
}
footer .natural a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
footer .natural a i {
  margin: 5px 5px;
}
footer .natural a:hover {
  color: #f1de80;
}

h1, h2, h3, h4, h5, .ui.input > input {
  font-family: "Montserrat-Bold" !important;
}
h1.light, h2.light, h3.light, h4.light, h5.light, .ui.input > input.light {
  font-family: "Montserrat-Light" !important;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.1;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

section {
  max-width: 100vw;
}

p {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

/* ================================================================== */
/*  Preloading styles */
/* ================================================================== */
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10000;
}
.preloader img {
  width: 90%;
  max-width: 245px;
  animation: back 2s infinite;
}

@keyframes back {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
