/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1440px) {
  :root {
    --sqr: 85px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 65px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  Nutrition  */
/* ================================================================== */
#nutrition {
  padding: 25px var(--sqr);
  text-align: center;
}
#nutrition .table h1, #nutrition .table h2, #nutrition .table h3 {
  color: #6ea485;
  margin: 5px;
}
@media (max-width: 768px) {
  #nutrition .table h1, #nutrition .table h2, #nutrition .table h3 {
    font-size: 3.5rem;
    padding: 10px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  #nutrition .table h1, #nutrition .table h2, #nutrition .table h3 {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  #nutrition .table h1, #nutrition .table h2, #nutrition .table h3 {
    font-size: 2.5rem;
  }
}
#nutrition .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #e5a927;
  position: relative;
}
#nutrition .title .behind h1 {
  opacity: 0.15;
  font-size: 7rem;
  letter-spacing: 3px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 768px) {
  #nutrition .title .behind h1 {
    font-size: 4rem;
  }
}
@media (max-width: 680px) {
  #nutrition .title .behind h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  #nutrition .title .behind h1 {
    font-size: 2.35rem;
  }
}
#nutrition .title .behind img {
  opacity: 1;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 680px) {
  #nutrition .title .behind img {
    display: none;
  }
}
#nutrition .title .front {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#nutrition .title h1 {
  padding: 10px 35px;
  position: relative;
  text-transform: uppercase;
}
#nutrition .image {
  background-image: url("../img/circle.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 505px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
#nutrition table {
  margin: 35px auto;
  min-width: 55%;
  border-top: 10px solid #6ea485;
}
#nutrition table td {
  border-bottom: 1px solid #6ea485;
  color: #6ea485;
  padding: 15px;
}

#mister, #girls {
  padding: 0 0;
  position: relative;
}
#mister img, #girls img {
  width: 55%;
  vertical-align: bottom;
}
@media (max-width: 768px) {
  #mister img, #girls img {
    width: 100%;
  }
}
#mister.right .content, #girls.right .content {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 65%;
  right: 35%;
  padding: 30px 45px;
  background-color: rgba(110, 164, 133, 0.85);
}
@media (max-width: 768px) {
  #mister.right .content, #girls.right .content {
    width: 100%;
    left: 0;
  }
}
#mister.right img, #girls.right img {
  float: right;
}
#mister.left .content, #girls.left .content {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 65%;
  left: 35%;
  padding: 30px 45px;
  background-color: rgba(229, 169, 39, 0.85);
}
@media (max-width: 768px) {
  #mister.left .content, #girls.left .content {
    width: 100%;
    left: 0;
  }
}
#mister h2, #girls h2 {
  text-transform: uppercase;
  color: white;
}
#mister h2.sand, #girls h2.sand {
  color: #7f9f48;
}

#content {
  padding: 155px var(--sqr);
  text-align: center;
}
#content .red {
  color: #6ea485;
}
#content .green {
  color: #6ea485;
}

.owl-carousel {
  background-color: #7f9f48;
}

.owl-carousel .owl-item img {
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .owl-carousel .owl-item img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .owl-carousel .owl-item img {
    width: 100%;
  }
}

.owl-nav {
  color: white;
  font-size: 10rem;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 98%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

button span {
  text-shadow: 3px 2px 10px #000;
}

/*# sourceMappingURL=nutrition.css.map */
