/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1440px) {
  :root {
    --sqr: 85px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 65px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  Nutrition  */
/* ================================================================== */
#stevia {
  padding: 25px var(--sqr);
  text-align: center;
}
#stevia .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #7f9f48;
  position: relative;
}
#stevia .title .behind h1 {
  opacity: 0.15;
  font-size: 7rem;
  letter-spacing: 3px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 768px) {
  #stevia .title .behind h1 {
    font-size: 4rem;
  }
}
@media (max-width: 680px) {
  #stevia .title .behind h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  #stevia .title .behind h1 {
    font-size: 2.35rem;
  }
}
#stevia .title .behind img {
  opacity: 1;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 680px) {
  #stevia .title .behind img {
    display: none;
  }
}
#stevia .title .front {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#stevia .title h1 {
  padding: 10px 35px;
  position: relative;
  text-transform: uppercase;
}

.big {
  text-align: center;
  text-transform: uppercase;
  font-size: 9rem;
}
.big.cancan {
  color: #e5a927;
  margin-bottom: 0;
}
.big.natural {
  font-family: "Montserrat";
  color: white;
  margin-top: 0;
  padding-bottom: 100px;
  background-color: #6ea485;
}

#plant {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 55px 0;
}
#plant .plant {
  width: 50%;
  text-align: center;
}
@media (max-width: 768px) {
  #plant .plant {
    width: 100%;
  }
  #plant .plant img {
    width: auto;
  }
}
#plant .plant img {
  width: 50%;
}
#plant .accordions {
  width: 50%;
}
@media (max-width: 768px) {
  #plant .accordions {
    width: 90%;
  }
}
#plant .accordion {
  display: block;
  padding: 25px;
  background: #e5a927;
  color: white;
  margin: 30px 0;
}
#plant .accordion p {
  text-transform: uppercase;
  font-family: "Montserrat-Bold";
  margin-bottom: 0;
}
#plant .accordion i {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 50%;
  padding: 10px 12.5px;
  margin: 0px 10px;
  -webkit-transition: all 180ms ease;
  -moz-transition: all 180ms ease;
  -o-transition: all 180ms ease;
  transition: all 180ms ease;
}
#plant .accordion i.active {
  transform: rotate(-90deg);
}
#plant .accordion span {
  display: block;
  margin-top: 10px;
}
#plant .accordion:nth-child(2) {
  background-color: #6ea485;
}
#plant .accordion:nth-child(4) {
  background-color: #f1de80;
}
#plant .accordion:nth-child(3) {
  background-color: #7f9f48;
}
#plant .accordion:nth-child(5) {
  background-color: #afc265;
}

/*# sourceMappingURL=stevia.css.map */
