@charset "UTF-8";
/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1440px) {
  :root {
    --sqr: 85px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 65px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  Qué es  */
/* ================================================================== */
#whatis {
  padding: 25px var(--sqr);
  text-align: center;
}
#whatis .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #6ea485;
  position: relative;
}
#whatis .title .behind h1 {
  opacity: 0.15;
  font-size: 7rem;
  letter-spacing: 3px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 768px) {
  #whatis .title .behind h1 {
    font-size: 4rem;
  }
}
@media (max-width: 680px) {
  #whatis .title .behind h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  #whatis .title .behind h1 {
    font-size: 2.35rem;
  }
}
#whatis .title .behind img {
  opacity: 1;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 680px) {
  #whatis .title .behind img {
    display: none;
  }
}
#whatis .title .front {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#whatis .title h1 {
  padding: 10px 35px;
  position: relative;
  text-transform: uppercase;
}

#video {
  padding: 25px var(--sqr);
  text-align: center;
  position: relative;
}
#video video {
  width: 75%;
}
#video .color {
  background-color: #7f9f48;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#sobres {
  padding: 35px;
  padding-top: 85px;
  padding-right: 0;
  position: relative;
}
@media (max-width: 680px) {
  #sobres {
    padding: 15px;
  }
}
#sobres img {
  width: 55%;
  float: left;
}
@media (max-width: 999px) {
  #sobres img {
    width: 75%;
  }
}
@media (max-width: 680px) {
  #sobres img {
    width: 100%;
  }
}
#sobres .side-title {
  width: 35%;
  display: inline-block;
  position: absolute;
  right: 0;
}
#sobres .side-title h2 {
  margin-bottom: 0;
  padding-left: 15px;
  color: #7f9f48;
}
#sobres .side-title h3 {
  margin-top: 0;
  background-color: #e5a927;
  color: white;
  padding: 5px 5px 45px 15px;
}
#sobres .side-title.medium {
  width: 30%;
  top: 35%;
}
#sobres .side-title.medium h2 {
  color: #e5a927;
}
#sobres .side-title.medium h3 {
  background-color: #afc265;
  color: #fff;
}
#sobres .side-title.tiny {
  top: 60%;
  width: 25%;
}
#sobres .side-title.tiny h2 {
  color: #7f9f48;
}
#sobres .side-title.tiny h3 {
  color: white;
  background-color: #6ea485;
}
@media (max-width: 999px) {
  #sobres .side-title {
    width: 100% !important;
    position: relative;
    margin: 25px 0;
    display: block;
  }
}

#dust {
  padding: 35px;
  padding-right: 0;
  position: relative;
}
@media (max-width: 680px) {
  #dust {
    padding: 15px;
  }
}
#dust img {
  width: 55%;
  float: right;
}
@media (max-width: 999px) {
  #dust img {
    width: 75%;
  }
}
@media (max-width: 680px) {
  #dust img {
    width: 100%;
  }
}
#dust .side-title {
  width: 35%;
  display: inline-block;
  position: absolute;
  left: 0;
}
#dust .side-title h2 {
  margin-bottom: 0;
  padding-left: 15px;
  color: #7f9f48;
  text-align: right;
}
#dust .side-title h3 {
  margin-top: 0;
  background-color: #e5a927;
  color: white;
  text-align: right;
  padding: 5px 15px 45px 15px;
}
#dust .side-title.medium {
  width: 30%;
  top: 35%;
}
#dust .side-title.medium h2 {
  color: #e5a927;
}
#dust .side-title.medium h3 {
  background-color: #afc265;
  color: #fff;
}
#dust .side-title.tiny {
  top: 60%;
  width: 40%;
}
#dust .side-title.tiny h2 {
  color: #7f9f48;
}
#dust .side-title.tiny h3 {
  color: white;
  background-color: #6ea485;
}
@media (max-width: 999px) {
  #dust .side-title {
    width: 100% !important;
    position: relative;
    display: block;
    margin: 25px 0;
  }
}

/*# sourceMappingURL=whatis.css.map */
