/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
  font-display: swap;
}
/* ================================================================== */
/*  Variables  */
/* ================================================================== */
:root {
  --sqr: 150px;
}
@media (max-width: 1600px) {
  :root {
    --sqr: 100px;
  }
}
@media (max-width: 1440px) {
  :root {
    --sqr: 85px;
  }
}
@media (max-width: 1280px) {
  :root {
    --sqr: 65px;
  }
}
@media (max-width: 992px) {
  :root {
    --sqr: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --sqr: 25px;
  }
}
@media (max-width: 480px) {
  :root {
    --sqr: 15px;
  }
}

/* ================================================================== */
/*  Dode comprar  */
/* ================================================================== */
#where {
  padding: 55px var(--sqr);
  text-align: center;
}
#where .title {
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 40px;
  color: #6ea485;
  position: relative;
}
#where .title .behind h1 {
  opacity: 0.15;
  font-size: 6rem;
  letter-spacing: 3px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 1280px) {
  #where .title .behind h1 {
    font-size: 5rem;
  }
}
@media (max-width: 1024px) {
  #where .title .behind h1 {
    font-size: 3.4rem;
  }
}
@media (max-width: 900px) {
  #where .title .behind h1 {
    font-size: 3rem;
  }
}
@media (max-width: 680px) {
  #where .title .behind h1 {
    font-size: 2.1rem;
  }
}
@media (max-width: 480px) {
  #where .title .behind h1 {
    font-size: 2rem;
  }
}
#where .title .behind img {
  opacity: 1;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 680px) {
  #where .title .behind img {
    display: none;
  }
}
#where .title .front {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#where .title h1 {
  padding: 10px 35px;
  position: relative;
  text-transform: uppercase;
}

#buy {
  background-color: #e2ede7;
  padding: 25px;
  display: flex;
  flex-flow: column;
  min-height: 46vh;
  justify-content: space-around;
}
#buy .title {
  text-align: center;
}
#buy .title h1 {
  display: inline-block;
  color: #7f9f48;
  text-transform: uppercase;
  margin-left: 15px;
  margin-bottom: 25px;
  border-bottom: 5px solid #e5a927;
}
#buy .prev-nav, #buy .next-nav {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 9%;
}
#buy .prev-nav a, #buy .next-nav a {
  color: #7f9f48;
}
#buy .buy-slider {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}
#buy .buy-slider .slide {
  padding: 25px;
}
#buy .buy-slider .slide img {
  width: 80%;
  margin: 0 auto;
}

#productos .producto-slider {
  width: 55%;
  margin: 0 auto;
  padding: 50px;
  position: relative;
}
#productos .producto-slider .next {
  position: absolute;
  top: calc( 50% - 37px );
  right: 0;
  right: 43px;
  z-index: 2;
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #d38795;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
#productos .producto-slider .next i {
  color: white;
}
#productos .producto-slider .next:hover {
  background-color: #6ea485;
}
@media (max-width: 680px) {
  #productos .producto-slider .next {
    padding: 10px 15px;
  }
}
#productos .producto-slider .prev {
  position: absolute;
  top: calc( 50% - 34px );
  left: 43px;
  z-index: 2;
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #d38795;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
#productos .producto-slider .prev i {
  color: white;
}
#productos .producto-slider .prev:hover {
  background-color: #6ea485;
}
@media (max-width: 680px) {
  #productos .producto-slider .prev {
    padding: 10px 15px;
  }
}
#productos .producto-slider .producto-nav {
  position: absolute;
  top: calc( 50% - 42px );
  z-index: 3;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
#productos .producto-slider .producto-nav a {
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #d38795;
}
#productos .producto-slider .producto-nav a i {
  color: white;
}
#productos .producto-slider .slide {
  padding: 45px 25px;
  background-color: #e9f1ed;
  border-radius: 10px;
  text-align: center;
}
#productos .producto-slider .slide img {
  max-width: 100%;
  max-width: 545px;
  width: 60%;
  padding: 10px;
  margin: 0 auto;
}
#productos .producto-slider .slide .subtitle {
  margin-top: 15px;
}
#productos .producto-slider .slide .subtitle h3 {
  color: #6ea485;
}
@media (max-width: 768px) {
  #productos .producto-slider {
    width: 80%;
  }
}
@media (max-width: 680px) {
  #productos .producto-slider {
    width: 90%;
  }
}

/*# sourceMappingURL=where.css.map */
