$bayleaf: #6ea485;
$sand: #f1de80;
$cucumber: #7f9f48;
$fire-bush: #e5a927; //orange
$wild-willow: #afc265; //green
$can-can: #d38795;
$new-green: #e2ede7;
$wagreen: #25d366; //WhatsApp

/* ================================================================== */
/*  Mixins  */
/* ================================================================== */
@mixin smooth_transition($time: 1s, $mode: ease){
	-webkit-transition: all $time $mode;
	-moz-transition: all $time $mode;
	-o-transition: all $time $mode;
	transition: all $time $mode;
}

@mixin flex_centered($mode: flex) {
	display: $mode;
	justify-content: center;
	align-items: center;
}
/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.ttf");
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-Bold";
	src: url("../fonts/Montserrat-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-Light";
	src: url("../fonts/Montserrat-Light.ttf");
	font-display: swap;
}

/* ================================================================== */
/*  Variables  */
/* ================================================================== */
$sqr: 100px;
$sqr-1: 70px;
$sqr-2: 40px;
$sqr-3: 20px;
$sqr-4: 5px;

:root {
	--sqr: 150px;

	@media(max-width: 1600px) {
		--sqr: 100px;
	}

	@media(max-width: 1440px) {
		--sqr: 85px;
	}

	@media(max-width: 1280px) {
		--sqr: 65px;
	}

	@media(max-width: 992px) {
		--sqr: 50px;
	}

	@media(max-width: 768px) {
		--sqr: 25px;
	}

	@media(max-width: 480px) {
		--sqr: 15px;
	}
}
