// Variables
@import 'variables';

/* ================================================================== */
/*  Contacto  */
/* ================================================================== */

#contact {

    padding: 55px var(--sqr);
    text-align: center;

    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $bayleaf;
        position: relative;

        .behind {

            h1 {
                opacity: 0.15;
                font-size: 7rem;
                letter-spacing: 3px;
                width: auto;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 768px ){
                    font-size: 4rem;
                }
                @media ( max-width: 680px ){
                    font-size: 2.8rem;
                }
                @media ( max-width: 480px ){
                    font-size: 2.35rem;
                }
            }

            img {
                opacity: 1;
                width: 55px;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 680px ){
                    display: none;
                }
            }
        }
        .front {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            padding: 10px 35px;
            position: relative;
            text-transform: uppercase;
        }
    }
}

#form {

    form {
        width: 80%;
        margin: 50px auto;
        border-radius: 4px;
        padding: 25px 35px;
        border: 2px solid $bayleaf;

        .input {
            //margin: 15px 5px;

            input {
                margin: 0 5px;
            }
        }

    }

}
