// Variables
@import 'variables';

/* ================================================================== */
/*  HOME  */
/* ================================================================== */

#home-slider {

    .slide {
        background-size: cover;
        // min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .owl-nav {
        position: absolute;
        top: 50%;
        width: calc(100vw - 2%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 7.5rem;
        margin-left: 0.5%;

        span {
            text-shadow: 2px 2px 0px #000;
        }
    }
}

#thirds {

    @include flex_centered();
    flex-wrap: wrap;

    .third {
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        width: calc( 100vw / 3 );
        height: calc( 100vw / 3 );
        flex-grow: 1;

        @media ( max-width: 1024px ) {
            width: calc( 100vw / 2 );
            height: calc( 100vw / 2 );
        }
        @media ( max-width: 768px ) {
            width: calc( 100vw / 1 );
            height: calc( 100vw / 1.5 );
        }

        position: relative;

        img {
            margin-left: -12.5%;
            width: 85%;

            @media ( max-width: 768px ) {
                width: 70% !important;
                margin-top: 0 !important;
                margin-left: 0;
            }
        }

        .title {
            position: absolute;
            top: 0;
            margin-left: 55.5%;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            padding: 15px;
            justify-content: center;

            h4 {
                color: white;
                text-align: left;
            }
        }
    }

}

#video {

    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: stretch;

    @media ( max-width: 1024px ) {
        flex-flow: column-reverse;
    }

    video {
        width: 60%;

        @media ( max-width: 1024px ) {
            width: 100%;
        }
    }
    .content {
        flex-grow: 1;
        display: flex;
        flex-flow: column;

        @media ( max-width: 1024px ) {
            flex-flow: row;
        }
        @media ( max-width: 480px ) {
            flex-flow: column;
        }

        h2 {
            font-family: "Montserrat";
            text-align: left;
            text-transform: uppercase;
        }

        .up {
            height: 50%;
            text-align: center;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-end;

            h2 {
                color: $cucumber;

                big {
                    font-family: "Montserrat-Bold";
                }
            }

            @media ( max-width: 1024px ){
                height: auto;
                width: 50%;
                justify-content: center;
                align-items: flex-end;
                padding: 35px;
                padding-right: 10px;
            }
            @media ( max-width: 480px ){
                width: 100%;
                padding: 35px;
                align-items: center;
            }
        }
        .down {
            background-color: $sand;
            height: 50%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-start;

            h2 {
                color: $bayleaf;
            }

            @media ( max-width: 1024px ){
                width: 50%;
                height: auto;
                justify-content: center;
                align-items: self-start;
                padding-left: 7px;
            }
            @media ( max-width: 480px ){
                width: 100%;
                padding: 35px;
                align-items: center;
            }
        }
    }

}

#productos {

    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $bayleaf;
        position: relative;

        .behind {

            h1 {
                opacity: 0.15;
                font-size: 7rem;
                letter-spacing: 3px;
                width: auto;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 900px ){
                    font-size: 5.8rem;
                }
                @media ( max-width: 768px ){
                    font-size: 4rem;
                }
                @media ( max-width: 680px ){
                    font-size: 2.8rem;
                }
                @media ( max-width: 480px ){
                    font-size: 2.35rem;
                }
            }

            img {
                opacity: 1;
                width: 55px;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 680px ){
                    display: none;
                }
            }
        }
        .front {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            padding: 35px;
            position: relative;
            text-transform: uppercase;

            @media ( max-width: 620px ) {
                font-size: 3rem;
            }
        }
    }

    #productos-halfs {
        @include flex_centered();

        .producto-slider {
            width: calc( 100vw / 2);
            padding: 50px;
            position: relative;

            @media (max-width: 786px) {
                padding: 25px;
            }

            .next {
                position: absolute;
                top: calc( 50% - 37px );
                right: 0;
                right: 43px;
                z-index: 2;
                padding: 20px 25px;
                border-radius: 50%;
                background-color: $can-can;
                @include smooth_transition(250ms);

                i {
                    color: white;
                }

                &:hover {
                    background-color: $bayleaf;
                }
                @media ( max-width: 680px ){
                    padding: 10px 15px;
                }
            }
            .prev {
                position: absolute;
                top: calc( 50% - 34px );
                left: 43px;
                z-index: 2;
                padding: 20px 25px;
                border-radius: 50%;
                background-color: $can-can;
                @include smooth_transition(250ms);

                i {
                    color: white;
                }

                &:hover {
                    background-color: $bayleaf;
                }
                @media ( max-width: 680px ){
                    padding: 10px 15px;
                }
            }

            .producto-nav {
                position: absolute;
                top: calc( 50% - 42px );
                z-index: 3;
                width: 85%;
                display: flex;
                justify-content: space-between;

                a {
                    padding: 20px 25px;
                    border-radius: 50%;
                    background-color: $can-can;

                    i {
                        color: white;
                    }
                }
            }

            .slide  {
                padding: 45px 25px;
                // background-color: $cucumber;
                background-color: #e9f1ed;
                border-radius: 10px;
                // min-height: 650px;
                text-align: center;

                img {
                    max-width: 100%;
                    max-width: 545px;
                    width: 60%;
                    padding: 10px;
                    // height: 100%;
                    margin: 0 auto;
                }

                .subtitle {

                    margin-top: 15px;

                    h3 {
                        color: $bayleaf;
                    }
                }
            }
        }

        .squares {
            //width: calc( 100vw / 2);
            text-align: center;
            margin-bottom: 45px;

            span {
                display: inline-block;
                width: 30%;
                text-align: center;
                padding: 25px;
                border-radius: 10px;
                margin: 0.5%;
                background-color: #e9f1ed;
                opacity: 1;

                img {
                    //width: 75%;
                    height: 230px;

                    @media ( max-width: 1280px ) {
                        height: 185px;
                    }
                    @media ( max-width: 768px ) {
                        height: 275px;
                        height: auto;
                    }
                }

                .subtitle {
                    text-align: center;
                    margin-top: 15px;

                    h4 {
                        color: $bayleaf;
                    }
                }

                @media ( max-width: 768px ) {
                    width: 48%;
                    display: flex;
                    flex-flow: column;
                }
            }
        }

        @media ( max-width: 1024px ) {
            flex-flow: column;

            .producto-slider {
                width: 100%;
            }
            .squares {
                width: 100%;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
            }
        }

    }
}

#buy {
    background-color: $new-green;
    padding: 25px;
    display: flex;
    flex-flow: column;
    min-height: 46vh;
    justify-content: space-around;

    .title {
        text-align: center;

        h1 {
            display: inline-block;
            color: $cucumber;
            text-transform: uppercase;
            margin-left: 15px;
            margin-bottom: 25px;
            border-bottom: 5px solid $fire-bush;

            @media ( max-width: 620px ) {
                font-size: 3rem;
            }
        }
    }

    .prev-nav, .next-nav {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 9%;

        a {
            color: $cucumber;
        }

        @media ( max-width: 480px ) {
            width: 7.5%;
        }
    }

    .buy-slider {
        display: inline-block;
        width: 80%;
        vertical-align: middle;

        .slide {
            padding: 25px;

            img {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}

#people {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .part {
        background-size: cover;
        background-position: center;
        width: calc( 100vw / 3 );
        height: calc( 100vw / 3 + 150px );
        flex-grow: 1;
    }

    .text {
        background-color: $fire-bush;
        height: 50%;
        @include flex_centered();
        align-self: end;
        height: 250px !important;
        justify-content: center;
        align-items: flex-end;
        color: white;
        text-transform: uppercase;
        position: relative;

        &:before {
            content: '';
            width: 80px;
            background: $fire-bush;
            height: 100%;
            right: -80px;
            position: absolute;
            opacity: 0.75;

            @media ( max-width: 1024px ){
                width: 0;
                content: '';
            }
        }

        h1, h2 {
            position: relative;
            margin: 0;
            font-family: "Montserrat-Light";

            &:before {
                content: 'Con más Stevia';
                font-family: "Montserrat-Bold";
                position: absolute;
                top: 100%;
                color: $bayleaf;
                text-align: right;
                width: 100%;
            }
        }

        @media ( max-width: 1024px ){
            width: 100% !important;
            height: 100px !important;
        }
    }

}

#recetas {

    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $cucumber;
        position: relative;

        .behind {


            h1 {
                opacity: 0.15;
                font-size: 7rem;
                letter-spacing: 3px;
                width: auto;
                display: inline-block;

                @media ( max-width: 768px ){
                    font-size: 4rem;
                }
                @media ( max-width: 680px ){
                    font-size: 2.8rem;
                }
                @media ( max-width: 480px ){
                    font-size: 2.35rem;
                }
                vertical-align: middle;
            }

            img {
                opacity: 1;
                width: 55px;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 680px ){
                    display: none;
                }
            }
        }
        .front {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            padding: 35px;
            position: relative;
            text-transform: uppercase;

            @media ( max-width: 620px ) {
                font-size: 3rem;
            }
        }
    }

    #recepies {
        @include flex_centered();
        flex-wrap: wrap;
        align-items: flex-start;

        .recipe {
            width: calc( 100vw / 4 - 75px);
            margin: 5px;
            //display: block;
            text-align: center;

            img {
                max-width: none !important;
            }

            span {
                display: block;
                margin-top: 10px;
            }

            h4 {
                margin: 10px 5px;
                text-decoration: none;
                text-transform: uppercase;
                color: $bayleaf;

                &:hover {
                    color: $can-can;
                }
            }

            p {
                text-align: justify;
                font-size: 15px;
                color: #929292;
            }

            @media ( max-width: 1280px ) {
                width: calc( 100vw / 3 - 75px);
            }
            @media ( max-width: 950px ) {
                width: calc( 100vw / 2 - 75px);
            }
            @media ( max-width: 680px ) {
                width: 80%;
                margin: 25px auto;
                text-align: center;
            }
        }


    }
}

iframe {
    width: 100%;
}


#galery {

    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $fire-bush;
        position: relative;

        .behind {

            h1 {
                opacity: 0.15;
                font-size: 7rem;
                letter-spacing: 3px;
                width: auto;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 768px ){
                    font-size: 4rem;
                }
                @media ( max-width: 680px ){
                    font-size: 2.8rem;
                }
                @media ( max-width: 480px ){
                    font-size: 2.35rem;
                }
            }

            img {
                opacity: 1;
                width: 55px;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 680px ){
                    display: none;
                }
            }
        }
        .front {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            padding: 35px;
            position: relative;
            text-transform: uppercase;

            @media ( max-width: 620px ) {
                font-size: 3rem;
            }
        }
    }

    #blocks {

        @include flex_centered();
        flex-wrap: wrap;
        align-items: flex-start;

        .block {
            width: calc( 100vw / 4 - 75px);
            margin: 15px;
            margin-bottom: 25px;

            @media ( max-width: 1280px ) {
                width: calc( 100vw / 3 - 75px);
            }
            @media ( max-width: 950px ) {
                width: calc( 100vw / 2 - 75px);
            }
            @media ( max-width: 680px ) {
                width: 95%;
                margin: 25px auto;
                text-align: center;
            }

            div {
                text-align: center;
            }
        }
    }
}

#modalCompras {
    background-color: white;
    color: black;

    .content {
        display: flex;
        flex-flow: row;
        margin-top: 10px;
        margin-bottom: 15px;

        @media ( max-width: 680px ) {
            flex-flow: column;

            .description, .image {
                width: 100%;
            }
        }
    }

    .image {
        flex: 1;
        width: 50%;
    }

    .description {
        flex: 1;
        width: 50%;
        text-align: left;

        ul {
            margin-bottom: 20px;
        }

        .title {
            text-align: left;
            font-weight: 400;
            font-size: 2.2rem;
            line-height: 1.15;
        }
        .price {
            margin-top: 15px;
            font-size: 1.4rem;
            display: block;
            font-family: "Montserrat-Bold" !important;
        }
        .buy-it {
            background-color: #FFD814;
            color: white;
            border-radius: 8px;
            box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
            border-color: #D5D9D9;
            border-style: solid;
            padding: 4px 10px 6px 11px;
            color: black;
        }
    }

}
