// Variables
@import 'variables';

/* ================================================================== */
/*  Global tags  */
/* ================================================================== */
html, body {
    font-size: 14px;
    font-display: swap;

    @media(max-width: 1600px) {
        font-size: 14px;
    }

    @media(max-width: 1280px) {
        font-size: 13px;
    }

    @media(max-width: 992px) {
        font-size: 13px;
    }

    @media(max-width: 768px) {
        font-size: 12px;
    }
}

body {
    background-color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    font-display: swap;
    width: 100vw;

    *:not(.fab .fas .icon) {
        font-family: 'Montserrat';
        font-display: swap;
    }

    img {
        max-width: 100%;
    }
}

.fa, .fas {
    font-family: "Font Awesome 5 Free" !important;
    font-display: swap !important;
}
.fab {
    font-family: "Font Awesome 5 Brands" !important;
    font-display: swap !important;
}
.icon {
    font-family: "Icons" !important;
    font-display: swap !important;
}

header {

    .nextevia {
        background-color: black;
        padding: 5px var(--sqr);
        text-align: right;

        .logo {
            padding: 5px;
            height: 22.5px;
        }
    }
    .natural {
        @include flex_centered();
        padding: 15px var(--sqr);
        justify-content: space-between;

        .logo {
            width: 85%;
        }

        a {
            text-decoration: none;
            color: $cucumber;
            @include smooth_transition(250ms);

            i {
                margin: 5px 5px;
            }

            &:hover {
                color: $bayleaf;
            }
        }
    }

}

.sidebar {

    a {
        text-transform: uppercase !important;
        font-weight: 600 !important;
        letter-spacing: 1px;
    }
}

.menu {
    background-color: $bayleaf;
    // padding: 25px 15px;
    text-align: center;
    padding: 15px var(--sqr);

    ul.desktop {
        text-align: center;
        padding: 0;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding: 25px 0;
        // width: 85%;
        // margin: 0 auto;

        @media ( max-width: 1024px ){
            display: none;
        }

        li {
            display: inline-block;
            padding: 10px 5px;

            a {
                color: white;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 2px;
                text-decoration: none;
                padding: 10px 15px;
                @include smooth_transition(250ms);

                &:hover {
                    color: $sand;
                }

                &.amazon {
                    img {
                        vertical-align: middle;
                        height: 65px;

                        @media ( max-width: 1440px ){
                            height: 60px;
                        }
                        @media ( max-width: 1280px ){
                            height: 55px;
                        }
                        @media ( max-width: 1150px ){
                            height: 50px;
                        }
                        @media ( max-width: 1050px ){
                            height: 44px;
                        }
                    }
                }

                @media ( max-width: 1440px ){
                    font-size: 14px;
                    padding: 10px;
                }
                @media ( max-width: 1280px ){
                    font-size: 13.5px;
                    padding: 10px;
                }
                @media ( max-width: 1150px ){
                    font-size: 13px;
                    padding: 10px 7.5px;
                }
            }

            @media ( max-width: 1280px ){
                padding: 10px 0;
            }
        }

        ul.second {
            background: $bayleaf;
            position: absolute;
            z-index: 9999;
            width: 100%;
            padding: 0;
            border-radius: 0px;
            border: 3px solid white;
            border-top: none;
            top: -70%;
            z-index: -1;
            opacity: 0;
            @include smooth_transition(200ms);

            li {
                display: block;
                color: white;

                a {
                    &:hover {
                        color: $fire-bush;
                    }
                }
            }
        }

        .trigger{
            position: relative;

            ul {
                // display: none;
            }

            &:hover {
                ul{
                    @include smooth_transition(200ms);
                    top: 100%;
                    opacity: 1;
                    z-index: 999;
                }
            }

        }
    }

    ul.mobile {
        list-style: none;
        text-align: right;
        display: none;

        @media ( max-width: 1024px ){
            display: block;
        }

        a {
            color: white;
            text-decoration: none;
            padding: 10px 15px;
            @include smooth_transition(250ms);

            &:hover {
                color: $sand;
            }
        }
    }
}

section {
    &.banner {
        display: none;
        background-color: $fire-bush;
        color: white;
        padding: 35px;
        text-align: center;

        h1 {
            cursor: pointer;
            margin-bottom: 0;

            @media ( max-width: 480px ){
                font-size: 3.1rem;
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {

                border-bottom: 2px solid white;
                padding: 15px 25px;

                a {
                    color: white;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: 600;

                    &:hover {
                        color: $bayleaf;
                    }
                }
            }
        }

        @media ( max-width: 1024px) {
            display: block;
        }
    }
}

.button {
    padding: 15px 30px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: $bayleaf;
    color: white;
    text-transform: uppercase;
    margin: 5px 0px;
    display: inline-block;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 1px 1px 3px -1px #000;
    @include smooth_transition(250ms);


    &:hover {
        background-color: $can-can;
        color: white;
    }

    &.cancan {
        background-color: $bayleaf;

        &:hover {
            background-color: #fff;
            color: black;
        }
    }
}

footer {

    .natural {
        @include flex_centered();
        padding: 55px var(--sqr);
        justify-content: space-between;
        background-color: $bayleaf;

        @media ( max-width: 768px ) {
            flex-flow: column;

            .logo {
                margin: 25px;
            }
        }

        .logo {
            width: 85%;
        }

        a {
            text-decoration: none;
            color: white;
            @include smooth_transition(250ms);

            i {
                margin: 5px 5px;
            }

            &:hover {
                color: $sand;
            }
        }
    }

}

h1, h2, h3, h4, h5, .ui.input>input {
    font-family: 'Montserrat-Bold' !important;

    &.light {
        font-family: 'Montserrat-Light' !important;
    }
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.1;
}

h2 {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.1;
}

h3 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
}

h4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}

section {
    max-width: 100vw;
}

p {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.1;
}

a {
    text-decoration: none;
}

/* ================================================================== */
/*  Preloading styles */
/* ================================================================== */
.preloader {
    @include flex_centered();
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10000;

    img {
        width: 90%;
        max-width: 245px;
        //animation: pulse 2s infinite;
        animation: back 2s infinite;
    }
}

@keyframes back {
  0% {
    opacity: 1;
  }
  25% {
      opacity: 0.7;
  }
  50% {
      opacity: 0.9;
  }
  100% {
      opacity: 1;
  }
}
