// Variables
@import 'variables';

/* ================================================================== */
/*  Nutrition  */
/* ================================================================== */

#nutrition {

    padding: 25px var(--sqr);
    text-align: center;

    .table {

        h1, h2, h3 {
            color: $bayleaf;
            margin: 5px;

            @media ( max-width: 768px ) {
                font-size: 3.5rem;
                padding: 10px;
                width: 100%;
            }
            @media ( max-width: 600px ) {
                font-size: 3rem;
            }
            @media ( max-width: 480px ) {
                font-size: 2.5rem;
            }
        }
    }


    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $fire-bush;
        position: relative;

        .behind {

            h1 {
                opacity: 0.15;
                font-size: 7rem;
                letter-spacing: 3px;
                width: auto;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 768px ){
                    font-size: 4rem;
                }
                @media ( max-width: 680px ){
                    font-size: 2.8rem;
                }
                @media ( max-width: 480px ){
                    font-size: 2.35rem;
                }
            }

            img {
                opacity: 1;
                width: 55px;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 680px ){
                    display: none;
                }
            }
        }
        .front {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            padding: 10px 35px;
            position: relative;
            text-transform: uppercase;
        }
    }

    .image {
        background-image: url('../img/circle.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 505px;
        @include flex_centered();
        margin: 25px 0;
    }


    table {
        margin: 35px auto;
        min-width: 55%;
        border-top: 10px solid $bayleaf;

        td {
            border-bottom: 1px solid $bayleaf;
            color: $bayleaf;
            padding: 15px;
        }
    }

}

#mister, #girls {
    // padding: 25px var(--sqr);
    padding: 0 0;
    position: relative;

    img {
        width: 55%;
        vertical-align: bottom;

        @media ( max-width: 768px ) {
            width: 100%;
        }
    }

    &.right {

        .content {
            position: absolute;
            z-index: 2;
            bottom: 0;
            width: 65%;
            right: 35%;
            padding: 30px 45px;
            background-color: rgba(110, 164, 133, 0.85);

            @media ( max-width: 768px ) {
                width: 100%;
                left: 0;
            }
        }
        img {
            float: right;
        }
    }
    &.left {

        .content {
            position: absolute;
            z-index: 2;
            bottom: 0;
            width: 65%;
            left: 35%;
            padding: 30px 45px;
            background-color: rgba(229, 169, 39, 0.85);

            @media ( max-width: 768px ) {
                width: 100%;
                left: 0;
            }
        }
    }

    h2 {
        text-transform: uppercase;
        color: white;

        &.sand {
            color: $cucumber;
        }
    }
}

#content {
    padding: 155px var(--sqr);
    text-align: center;

    .red {
        color: $bayleaf;
    }
    .green {
        color: $bayleaf;
    }
}

.owl-carousel {
    background-color: $cucumber;
}

.owl-carousel .owl-item img {
    width: 75%;
    margin: 0 auto;

    @media ( max-width: 1366px ) {
        width: 80%;
    }
    @media ( max-width: 768px ) {
        width: 100%;
    }
}

.owl-nav {
    color: white;
    font-size: 10rem;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 98%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
button {
    span{
        text-shadow: 3px 2px 10px #000;
    }
}
