// Variables
@import 'variables';

/* ================================================================== */
/*  Nutrition  */
/* ================================================================== */

#stevia {

    padding: 25px var(--sqr);
    text-align: center;

    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $cucumber;
        position: relative;

        .behind {

            h1 {
                opacity: 0.15;
                font-size: 7rem;
                letter-spacing: 3px;
                width: auto;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 768px ){
                    font-size: 4rem;
                }
                @media ( max-width: 680px ){
                    font-size: 2.8rem;
                }
                @media ( max-width: 480px ){
                    font-size: 2.35rem;
                }
            }

            img {
                opacity: 1;
                width: 55px;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 680px ){
                    display: none;
                }
            }
        }
        .front {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            padding: 10px 35px;
            position: relative;
            text-transform: uppercase;
        }
    }
}

.big {
    text-align: center;
    text-transform: uppercase;
    font-size: 9rem;

    &.cancan {
        color: $fire-bush;
        margin-bottom: 0;
    }
    &.natural {
        font-family: "Montserrat";
        color: white;
        margin-top: 0;
        padding-bottom: 100px;
        background-color: $bayleaf;
    }
}

#plant {

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 55px 0;

    .plant {
        width: 50%;
        text-align: center;

        @media ( max-width: 768px ) {
            width: 100%;

            img {
                width: auto;
            }
        }

        img {
            width: 50%;
        }
    }

    .accordions {
        width: 50%;

        @media ( max-width: 768px ) {
            width: 90%
        }
    }

    .accordion {
        display: block;
        padding: 25px;
        background: $fire-bush;
        color: white;
        margin: 30px 0;

        p {
            text-transform: uppercase;
            font-family: "Montserrat-Bold";
            margin-bottom: 0;
        }

        i {
            background: rgba(255,255,255,0.55);
            border-radius: 50%;
            padding: 10px 12.5px;
            margin: 0px 10px;
            @include smooth_transition(180ms);

            &.active {
                transform: rotate(-90deg);
            }
        }

        span {
            display: block;
            margin-top: 10px;
            // @include smooth_transition(200ms);
            // height: 0;
        }

        &:nth-child(2) {
            background-color: $bayleaf;
        }
        &:nth-child(4) {
            background-color: $sand;
        }
        &:nth-child(3) {
            background-color: $cucumber;
        }
        &:nth-child(5) {
            background-color: $wild-willow;
        }
    }

}
