// Variables
@import 'variables';

/* ================================================================== */
/*  Qué es  */
/* ================================================================== */

#whatis {

    padding: 25px var(--sqr);
    text-align: center;

    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $bayleaf;
        position: relative;

        .behind {

            h1 {
                opacity: 0.15;
                font-size: 7rem;
                letter-spacing: 3px;
                width: auto;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 768px ){
                    font-size: 4rem;
                }
                @media ( max-width: 680px ){
                    font-size: 2.8rem;
                }
                @media ( max-width: 480px ){
                    font-size: 2.35rem;
                }
            }

            img {
                opacity: 1;
                width: 55px;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 680px ){
                    display: none;
                }
            }
        }
        .front {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            padding: 10px 35px;
            position: relative;
            text-transform: uppercase;
        }
    }
}

#video {
    padding: 25px var(--sqr);
    text-align: center;
    position: relative;

    video {
        width: 75%
    }
    .color {
        background-color: $cucumber;
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

#sobres {
    padding: 35px;
    padding-top: 85px;
    padding-right: 0;
    position: relative;

    @media ( max-width: 680px) {
        padding: 15px;
    }

    img {
        width: 55%;
        float: left;

        @media ( max-width: 999px ){
            width: 75%;
        }
        @media ( max-width: 680px) {
            width: 100%;
        }
    }

    .side-title {
        width: 35%;
        display: inline-block;
        position: absolute;
        right: 0;

        h2 {
            margin-bottom: 0;
            padding-left: 15px;
            color: $cucumber;
            //background-color: $fire-bush;
        }
        h3 {
            margin-top: 0;
            background-color: $fire-bush;
            color: white;
            padding: 5px 5px 45px 15px;
        }

        &.medium {
            width: 30%;
            top: 35%;

            h2 {
                color: $fire-bush;
            }

            h3 {
                background-color: $wild-willow;
                color: #fff;
            }
        }
        &.tiny {
            top: 60%;
            width: 25%;

            h2 {
                color: $cucumber;
            }
            h3 {
                color: white;
                background-color: $bayleaf;
            }
        }

        @media ( max-width: 999px ){
            width: 100% !important;
            position: relative;
            margin: 25px 0;
            display: block;
        }
    }
}

#dust {
    padding: 35px;
    padding-right: 0;
    position: relative;

    @media ( max-width: 680px) {
        padding: 15px;
    }


    img {
        width: 55%;
        float: right;

        @media ( max-width: 999px) {
            width: 75%;
        }
        @media ( max-width: 680px) {
            width: 100%;
        }
    }

    .side-title {
        width: 35%;
        display: inline-block;
        position: absolute;
        left: 0;

        h2 {
            margin-bottom: 0;
            padding-left: 15px;
            color: $cucumber;
            text-align: right;
            //background-color: $fire-bush;
        }
        h3 {
            margin-top: 0;
            background-color: $fire-bush;
            color: white;
            text-align: right;
            padding: 5px 15px 45px 15px;
        }

        &.medium {
            width: 30%;
            top: 35%;

            h2 {
                color: $fire-bush;
            }

            h3 {
                background-color: $wild-willow;
                color: #fff;
            }
        }
        &.tiny {
            top: 60%;
            width: 40%;

            h2 {
                color: $cucumber;
            }
            h3 {
                color: white;
                background-color: $bayleaf;
            }
        }

        @media ( max-width: 999px ){
            width: 100% !important;
            position: relative;
            display: block;
            margin: 25px 0;
        }

    }

}
