// Variables
@import 'variables';

/* ================================================================== */
/*  Dode comprar  */
/* ================================================================== */

#where {

    padding: 55px var(--sqr);
    text-align: center;

    .title {
        text-align: center;
        padding: 10px;
        margin: 15px;
        margin-top: 40px;
        color: $bayleaf;
        position: relative;

        .behind {

            h1 {
                opacity: 0.15;
                font-size: 6rem;
                letter-spacing: 3px;
                width: auto;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 1280px ){
                    font-size: 5rem;
                }
                @media ( max-width: 1024px ){
                    font-size: 3.4rem;
                }
                @media ( max-width: 900px ){
                    font-size: 3rem;
                }
                @media ( max-width: 680px ){
                    font-size: 2.1rem;
                }
                @media ( max-width: 480px ){
                    font-size: 2rem;
                }
            }

            img {
                opacity: 1;
                width: 55px;
                display: inline-block;
                vertical-align: middle;

                @media ( max-width: 680px ){
                    display: none;
                }
            }
        }
        .front {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            padding: 10px 35px;
            position: relative;
            text-transform: uppercase;
        }
    }
}

#buy {
    background-color: $new-green;
    padding: 25px;
    display: flex;
    flex-flow: column;
    min-height: 46vh;
    justify-content: space-around;

    .title {
        text-align: center;

        h1 {
            display: inline-block;
            color: $cucumber;
            text-transform: uppercase;
            margin-left: 15px;
            margin-bottom: 25px;
            border-bottom: 5px solid $fire-bush;
        }
    }

    .prev-nav, .next-nav {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 9%;

        a {
            color: $cucumber;
        }
    }

    .buy-slider {
        display: inline-block;
        width: 80%;
        vertical-align: middle;

        .slide {
            padding: 25px;

            img {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}

#productos {

    .producto-slider {
        width: 55%;
        margin: 0 auto;
        padding: 50px;
        position: relative;

        .next {
            position: absolute;
            top: calc( 50% - 37px );
            right: 0;
            right: 43px;
            z-index: 2;
            padding: 20px 25px;
            border-radius: 50%;
            background-color: $can-can;
            @include smooth_transition(250ms);

            i {
                color: white;
            }

            &:hover {
                background-color: $bayleaf;
            }
            @media ( max-width: 680px ){
                padding: 10px 15px;
            }
        }
        .prev {
            position: absolute;
            top: calc( 50% - 34px );
            left: 43px;
            z-index: 2;
            padding: 20px 25px;
            border-radius: 50%;
            background-color: $can-can;
            @include smooth_transition(250ms);

            i {
                color: white;
            }

            &:hover {
                background-color: $bayleaf;
            }
            @media ( max-width: 680px ){
                padding: 10px 15px;
            }
        }

        .producto-nav {
            position: absolute;
            top: calc( 50% - 42px );
            z-index: 3;
            width: 85%;
            display: flex;
            justify-content: space-between;

            a {
                padding: 20px 25px;
                border-radius: 50%;
                background-color: $can-can;

                i {
                    color: white;
                }
            }
        }

        .slide  {
            padding: 45px 25px;
            // background-color: $cucumber;
            background-color: #e9f1ed;
            border-radius: 10px;
            // min-height: 650px;
            text-align: center;

            img {
                max-width: 100%;
                max-width: 545px;
                width: 60%;
                padding: 10px;
                // height: 100%;
                margin: 0 auto;
            }

            .subtitle {

                margin-top: 15px;

                h3 {
                    color: $bayleaf;
                }
            }
        }

        @media ( max-width: 768px ){
            width: 80%;
        }
        @media ( max-width: 680px ){
            width: 90%;
        }
    }

}
